


/* Shared style */
.content-container{
    display: flex;
    justify-content: center;
    padding: 20px;
}

.content-table{
    padding: 20px;
    border: 2px solid #3e4a61;
}

.content-table thead tr {
    background: #3e4a61;
    color: #d9dad7;
    text-align: center;
    font-weight: bold;
}

.content-table th,
.content-table td {
    padding: 10px 24px;
}

.content-table tbody tr {
    border-bottom: 1px solid #c24d2c;
}

.content-table tbody tr:nth-of-type(even) {
    background-color: #eeeeee;
}

.content-table tbody tr:last-of-type {
    border-bottom: 2px solid #3e4a61;
}


/* USER DASHBAORD STYLES */
.bg-color{
    background-color: #0092ca;
}

.allTask-bg{
    height: 400px;
}

.myTask-bg {
    background-color: #eeeeee;
    height: 600px;
}

/* Manager Dashboard */
.manager-bg {
    background-color: #d3d6db;
    height: 1000px;
}