@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.body {
    background: #023d6b;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.top {
    height: 20%;
    width: 100%;
    background-color:#4070f4;
}

.bottom {
    height: 75%;
}

.container{
    position: relative;
    max-width: 430px;
    width: 430px;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.container form{
    padding: 30px;
    border-radius: 10px;
}

.welcome, .pageTitle{
    margin-top: 20px;
    font-size: 40px;
    color: white;
}

.pageTitle{
    margin: 30px;
    font-weight: 500;
}

.input{
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-bottom: 2px solid #ccc;
    border-top: 2px solid transparent;
}

.inputField{
    position: relative;
    height: 50px;
    width: 100%;
    margin-top: 30px;
}

.hyperlink {
    color: #4070f4;
    text-decoration: none;
}

.error {
    color: red;
}

.title {
    position: relative;
    font-size: 27px;
    font-weight: 400;
}

.button {
    border:none;
    color: #fff;
    font-size: 17px;
    font-weight: 500;
    border-radius: 6px;
    cursor: pointer;
    letter-spacing: 1px;
    background-color:#265df2;
    padding: 8px;
}

.button:hover {
    background-color: #1b53eb;
}

.input:focus {
    border-bottom-color: #4070f4;
}

.loginSignup {
    height: 50px;
    width: 100%;
    text-align: center;
}